:root {
  --background-color-lighter-gray: #f3f3f3;
  --background-color-darker-gray: #dbdbdb;
  --background-color-dark-gray: #525252;
  --background-color-turquoise: #3eafcf;
  --default-font-family: 'Poppins', sans-serif;
  --button-color: #ba0000;
}

body {
  font-family: var(--default-font-family);
}

h2,
h3,
h4,
h5,
h6,
p {
  color: #525252;
}

h1 {
  font-size: 105px;
  font-weight: 300;
  line-height: 100px;
  margin: 32px 0;
  color: var(--background-color-turquoise);
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-top: 32px;
  max-width: 550px;
}

section {
  text-align: left;
  height: 650px;
  width: 100%;
}

footer {
  margin-top: 50px;
}

.border-style {
  width: 70%;
  border-top: medium solid var(--background-color-dark-gray);
}

.nav-design {
  background-color: var(--background-color-dark-gray);
  color: var(--background-color-lighter-gray);
  height: 52px;
}

.bcg-light-gray {
  background-color: var(--background-color-lighter-gray);
}

.bcg-darker-gray {
  background-color: var(--background-color-darker-gray);
}

.bcg-turquoise {
  background-color: var(--background-color-turquoise);
}

.text-box {
  padding-top: 100px;
  margin: 0;
}

.pl-152 {
  padding-left: 152px;
}

.btn-branding {
  border-radius: 50px;
  background: var(--button-color);
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  margin-top: 48px;
}

.btn-branding-secondary {
  border-radius: 50px;
  background: var(--background-color-darker-gray);
  color: var(--button-color);
  font-size: 18px;
  padding: 10px 16px;
  margin-top: 48px;
  border: 1px solid var(--button-color);
  margin-right: 10px;
  margin-left: 20px;
}

.icons a {
  margin: 10px 20px;
  color: var(--background-color-dark-gray);
  font-size: 32px;
  text-decoration: none;
}

.icons a:hover {
  color: black;
}

.pb-32 {
  padding-bottom: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

.skills-icons {
  color: var(--background-color-lighter-gray);
  flex-wrap: wrap;
  justify-content: flex-start;
}

.skills-icons i {
  font-size: 32px;
}

.skills-icons div {
  margin-right: 20px;
  margin-bottom: 10px;
}

.project-img {
  position: relative;
  top: 150px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 60px;
    line-height: 1;
  }
  h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  section {
    padding: 80px 16px;
    text-align: center;
    height: unset;
  }

  .text-box {
    padding-top: 10px;
    margin: 0;
  }

  .pl-152 {
    padding: 50px;
  }

  img {
    height: 200px;
    width: 200px;
  }

  .icons img {
    height: 50px;
    width: 50px;
  }

  .skills-icons {
    justify-content: space-evenly;
  }

  .skills-icons div {
    margin-left: 16px;
    margin-right: 16px;
  }
}
