:root {
  --background-color-lighter: #f9f5f2;
  --background-color-darker: #faeddd;
  --background-color-third: #be5c5b;
  --default-font-family: 'Poppins', sans-serif;
  --button-color: #efbd64;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #525252;
}

h1 {
  font-size: 105px;
  line-height: 100px;
  margin: 32px 0;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-top: 32px;
  max-width: 550px;
}

footer {
  position: relative;
  top: 200px;
  background: var(--background-color-lighter);
}

.nav-design {
  background-color: var(--background-color-third);
  color: var(--background-color-lighter);
  height: 52px;
}

.section-lighter {
  background-color: var(--background-color-lighter);
  text-align: left;
  height: 650px;
  width: 100%;
}

.section-bcg-darker {
  background-color: var(--background-color-darker);
  text-align: left;
  height: 650px;
}

.text-box {
  padding-top: 100px;
  margin: 0;
}

.pl-152 {
  padding-left: 152px;
}

.btn-branding {
  border-radius: 50px;
  background: var(--button-color);
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  margin-top: 48px;
}

.icons a {
  margin: 10px 20px;
  color: var(--button-color);
  font-size: 32px;
}

.icons a:hover {
  color: black;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .section-lighter,
  .section-bcg-darker {
    padding: 0;
    text-align: center;
    height: unset;
  }
}
