:root {
  --background-color-lighter-gray: #f3f3f3;
  --background-color-darker-gray: #dbdbdb;
  --background-color-dark-gray: #525252;
  --background-color-turquoise: #3eafcf;
  --default-font-family: 'Poppins', sans-serif;
  --button-color: #ba0000;
}

body {
  font-family: var(--default-font-family);
}

h2,
h3,
h4,
h5,
h6,
p {
  color: #525252;
}

h1 {
  font-size: 105px;
  font-weight: 300;
  line-height: 100px;
  margin: 32px 0;
  color: var(--background-color-turquoise);
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  margin-top: 32px;
  max-width: 550px;
}

section {
  text-align: left;
  height: 650px;
  width: 100%;
}

footer {
  margin-top: 100px;
}

.border-style {
  width: 70%;
  border-top: medium solid var(--background-color-dark-gray);
}

.nav-design {
  background-color: var(--background-color-dark-gray);
  color: var(--background-color-lighter-gray);
  height: 52px;
}

.bcg-light-gray {
  background-color: var(--background-color-lighter-gray);
}

.bcg-darker-gray {
  background-color: var(--background-color-darker-gray);
}

.bcg-turquoise {
  background-color: var(--background-color-turquoise);
}

.text-box {
  padding-top: 100px;
  margin: 0;
}

.pl-152 {
  padding-left: 152px;
}

.btn-branding {
  border-radius: 50px;
  background: var(--button-color);
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  margin-top: 48px;
}

.icons a {
  margin: 10px 20px;
  color: var(--background-color-dark-gray);
  font-size: 32px;
  text-decoration: none;
}

.icons a:hover {
  color: black;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 60px;
    line-height: 1;
  }
  h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    line-height: 20px;
  }

  section {
    padding: 50px 0;
    text-align: center;
    height: unset;
  }

  .text-box {
    padding-top: 10px;
    margin: 0;
  }

  .pl-152 {
    padding: 50px;
  }

  .img-size {
    height: 200px;
    width: 200px;
  }
}
